/* Set global styles */
body {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #3b3b3b;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Style the main app container */
#app {
  width: 90%;
  background-color: #616161;

  padding: 20px;
}

/* Style the search container */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Style the search input field */
input[type="text"] {
  width: 90%;
  padding: 10px;
  text-align: center;
  margin-bottom: 0px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  outline: none;
}

/* Style for different types of boxes */
.box, .book-box, .chapter-box, .verse-box, .result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px 0;
  background-color: #000000;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
