/* Set global styles */
body {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  color: black;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 0;
}

/* Style the sticky header */
.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px 0;
  font-family: 'Zeyada', cursive;
}
/* Default styles for header image */
.header-image {
  max-width: 100%; /* Ensure image is responsive */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for mobile devices (up to 768px) */
@media (max-width: 768px) {
  .header-image {
    height: 350px; /* Set specific height for mobile */
    /* Adjust other styles as needed */
  }

/* Style the header content container */
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the main app container */
#app {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

/* Style the search container */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Style the search input field */
input[type="text"] {
  width: 80%;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Style the loading message */
#loading-message {
  margin-top: 0;
  font-size: 1.2em;
}

/* Style for different types of boxes */
.box, .book-box, .chapter-box, .verse-box, .result-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Specific styles for book boxes */
.book-box {
  background-color: #f0f0f0;
}

/* Specific styles for chapter boxes */
.chapter-box {
  background-color: #e9ecef;
}

/* Specific styles for verse boxes */
.verse-box {
  background-color: #d3d3d3;
}

/* Specific styles for result boxes */
.result-box {
  background-color: #ffffcc;
}

/* Change background color on hover */
.box:hover {
  background-color: #f5f5f5;
}

/* Hide elements with hidden class */
.hidden {
  display: none;
}
