/* Set global styles */
body {
font-family: "Quantico", sans-serif;
  background-color: #3c3939;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 150%;
}

/* Style the main app container */
#app {
  width: 90%;
  background-color: #3c3939;
  padding: 20px;
}

/* Style the search container */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

/* Style the search input field */
input[type="text"] {
  font-family: "Quantico", sans-serif;
  font-size: medium;
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
 
}

/* Style for different types of boxes */
.box, .book-box, .chapter-box, .verse-box, .result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px 0;
  background-color: #000000;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.highlight {
  color: #ffff00;
}
